/* .PlayVideo, */
.SideBar{
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 2%;
    width: 30%;
}
.PlayVideo{
    width: 70%;
    padding-right: 1%;
}
#video{
    width: 100%;
}
.content {
    display: flex;
    flex-direction: row;
    font-size: 2em;
    padding-left: 1.5%;
}
.buttons{
    display: flex;
}
.instruction{
    display: flex;
}
.sidebarVideo {
    width: 60%;
    height: auto;
}
.viewHeader {
    display: flex;
    width: 100%;
}
input {
    width: 100%;
}
/* .TimeStamp {
    padding-top: 3%;
} */
.TimestampHeader,
.feedbackHeader{
    display: flex;
}
.video-preview{
    display: flex;
    padding-top: 4%;
}
.SwitchView,
.TimeStamp,
.Feedback {
    padding: 0% 4% 4% 4%;
    border-style: groove;
    border-radius: 1%;
}
.submit{
    float: right;
}
.next{
    float: right;
}
.check{
    width: 25px;
    height: 25px;
}
textarea{
    width: 100%
}
.feedbackTable{
    width: 100%;
}
.submitFeedback{
    float: right;
}
