/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    padding-left: 10%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 1%;
  }
  */
  /* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */